<% provide(:title, "Log In") %>

<section class="section mb-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <%= form_with url: session_path do |form| %>
          <div class="box m-3 p-5">
            <h1 class="is-size-2 has-text-weight-medium block">Log In</h1>
            
            <div class="field">
              <%= form.label :email_address, class: "label" %>
              <div class="control">
                <%= form.email_field :email_address, autofocus: true, autocomplete: "email", class: "input" %>
              </div>
            </div>

            <div class="field">
              <%= form.label :password, class: "label" %>
              <div class="control">
                <%= form.password_field :password, autocomplete: "current-password", class: "input" %>
              </div>
            </div>

            <div class="actions">
              <%= form.submit "Log in", class: "button is-green has-text-white has-text-weight-semibold" %>
            </div>
        <% end %>
        <br>

        <%= link_to "Forgot password?", password_reset_path %>
      </div>
    </div>
  </div>
</section>
