<% provide(:title, "Edit Account") %>

<section class="is-fullscreen mb-6">
  <div class="container is-vcentered">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <%= form_with(model: @user, url: registrations_path) do |form| %>
          <div class="box m-3 p-5">
            <h1 class="is-size-2 has-text-weight-medium block">Edit Account</h1>

            <%= render 'shared/error_messages', object: form.object %>
            
            <div class="field">
              <%= form.label :email_address, class: "label" %>
              <div class="control">
                <%= form.email_field :email_address, autofocus: true, autocomplete: "email", class: "input" %>
              </div>
            </div>

            <div class="field mb-4">
              <%= form.label :password, class: "label" %>
              <div class="control">
                <%= form.password_field :password, autocomplete: "new-password", class: "input" %>
              </div>
              <p class="help">Leave blank if you don't want to change your password.
              </p>
            </div>

            <div class="actions">
              <%= form.submit "Update", class: "button is-green has-text-white has-text-weight-semibold" %>
              <%= link_to "Delete your account", registrations_path, data: { "turbo-method": :delete,
                  turbo_confirm: "Are you sure you want to delete your account? This action is irreversible and all of your data will be lost." }, 
                  class: "button is-red has-text-white has-text-weight-semibold" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
