<% provide(:title, "Edit Plant") %>

<section class="is-fullscreen mb-6">
  <div class="container is-vcentered">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <%= form_with(model: @plant, url: plant_path) do |form| %>
          <div class="box m-3 p-5">
            <p class="is-size-2 has-text-weight-medium block">Edit Plant</p>

            <%= render 'shared/error_messages', object: form.object %>

            <div class="field">
              <%= form.label :name, class: "label" %>
              <div class="control">
                <%= form.text_field :name, autofocus: true, autocomplete: "name", class: "input" %>
              </div>
            </div>

           <div class="field">
              <%= form.label :categories, class: "label" %>
              <div class="checkboxes">
                <% Category.all.each do |category| %>
                  <div class="checkbox">
                    <%= form.check_box :category_ids, { multiple: true }, category.id, nil %>
                    <label for="category_ids_<%= category.id %>" class="checkbox">
                      <%= category.name %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
            <br>
            <div class="actions">
              <%= form.submit "Update", class: "button is-green has-text-white has-text-weight-semibold" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
