<footer class="footer is-vcentered mt-6">
  <div class="content has-text-centered">
    <div class="mb-3">
      <%= mail_to "support@plantsort.com", "Contact Support", class: "has-text-link"%> |
      <%= link_to "Terms of Use", terms_of_use_path, class: "has-text-link"%> |
      <%= link_to "Privacy Policy", privacy_policy_path, class: "has-text-link"%> |
      <%= link_to "View Source Code", "https://github.com/onathjan/plantsort", target: :blank %>
    </div>
    <p>&copy; 2024 PlantSort. Enjoy the rest of your <%= Date.today.strftime("%A") %>!</p>
  </div>
</footer>