<footer class="footer is-vcentered mt-6 is-green">
  <div class="content has-text-centered">
    <div class="mb-3 has-text-white">
      <%= mail_to "plantsortapp@gmail.com", "Contact Support", class: "has-text-white footer-link"%> |
      <%= link_to "Terms of Use", terms_of_use_path, class: "has-text-white footer-link"%> |
      <%= link_to "Privacy Policy", privacy_policy_path, class: "has-text-white footer-link"%> |
      <%= link_to "View Source Code", "https://github.com/onathjan/plantsort", target: :blank, class: "has-text-white footer-link" %>
    </div>
    <p class="has-text-white">&copy; 2024 PlantSort. Enjoy the rest of your <%= Date.today.strftime("%A") %>!</p>
  </div>
</footer>