<nav class="navbar p-5" role="navigation" aria-label="main navigation" data-controller="mobile-menu">
  <div class="navbar-brand">
    <%= link_to "PlantSort", root_path, class: "has-text-green has-text-weight-semibold is-size-2" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action="click->mobile-menu#toggleMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" data-mobile-menu-target="menu">
    <div class="navbar-end">
      <% if authenticated? %>
        <div class="navbar-item has-text-centered">
          <%= link_to "All Plants", plants_path, class: "button is-white has-text-green has-text-weight-semibold mx-0" %>
        </div>
          <div class="navbar-item has-text-centered">
          <%= link_to "New Plant", new_plant_path, class: "button is-white has-text-green has-text-weight-semibold mx-0" %>
        </div>
        <div class="navbar-item has-text-centered">
          <%= link_to "Settings", settings_path, class: "button is-white has-text-green has-text-weight-semibold mx-0" %>
        </div>
        <div class="navbar-item has-text-centered">
          <%= link_to "Log Out", session_path, data: { "turbo-method": :delete }, class: "button is-green has-text-white has-text-weight-semibold mx-0" %>
      <% else %>
        <div class="navbar-item has-text-centered">
          <%= link_to "Log In", login_path, class: "button is-white has-text-green has-text-weight-semibold mx-0" %>
        </div>

        <div class="navbar-item has-text-centered">
          <%= link_to "Sign Up", signup_path, class: "button is-green has-text-white has-text-weight-semibold mx-0" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>